body {
    color: rgb(78, 4, 4);
    background: rgb(245, 201, 201);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(68, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(92, 0, 0);
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}