body {
    color: pink;
    background: rgb(245, 201, 201);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(43, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(253, 146, 146);
}
/* código omitido */

section {
    background: rgb(59, 0, 20);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
