body {
    color: rgb(250, 201, 209);
    background: rgb(245, 201, 201);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(43, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(51, 1, 1);
}
/* código omitido */

section {
    background: rgb(44, 0, 8);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 36px;
}
