body {
    color: rgb(87, 0, 0);
    background: rgb(255, 216, 216);
    margin: 0px;
} 
header {
    border-bottom: solid 2px rgb(56, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(56, 0, 0);
}